<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dxjr.portal.member.mapper.AccountLinkmanMapper">
	
	<!-- 返回的结果集 -->
	<resultMap type="com.dxjr.portal.member.vo.AccountLinkmanVo" id="accountLinkmanResultMap">
		<id property="id" column="id" />
		<result property="userId" 		column="USER_ID" />
		<result property="name" 		column="NAME" />
		<result property="mobile"		column="MOBILE" />
		<result property="email"		column="EMAIL" />
		<result property="relationship"	column="RELATIONSHIP" />
		<result property="addtime"		column="ADDTIME" />
		<result property="addip"		column="ADDIP" />
		<result property="modifytime"	column="MODIFYTIME" />				
	</resultMap>
	
	<!--基本列 -->
	<sql id="accountLinkmanBaseColumn">
		l.ID, 
		l.USER_ID, 
		l.NAME, 
		l.MOBILE, 
		l.EMAIL, 
		l.RELATIONSHIP,
		l.ADDTIME,
		l.ADDIP,
		l.MODIFYTIME
	</sql>
	
	<!-- 封装查询条件 -->
	<sql id="accountLinkman_Where_Clause">
		<if test="id != null">
			and l.id =#{id}
		</if>
		<if test="userId != null ">
			and l.USER_ID = #{userId}
		</if>
	</sql>
	
  	<!-- 根据条件查询记录集合 -->
	<select id="queryAccountLinkmanList" parameterType="com.dxjr.portal.member.vo.AccountLinkmanCnd" resultMap="accountLinkmanResultMap" >
		select 	
		   <include refid="accountLinkmanBaseColumn"/>
		from
			rocky_account_linkman l
		where 1=1
		<include refid="accountLinkman_Where_Clause"/>
  	</select>
  	
  	  	<!-- 根据条件查询记录数量-->
	<select id="queryAccountLinkmanCount" parameterType="com.dxjr.portal.member.vo.AccountLinkmanCnd" resultType="java.lang.Integer" >
		select count(b.id)
		from
			rocky_account_linkman l
		where 1=1
		<include refid="accountLinkman_Where_Clause"/>
  	</select>
</mapper>  