<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxjr.portal.transfer.mapper.EtransferMapper" >
  <resultMap id="BaseResultMap" type="com.dxjr.portal.transfer.entity.Etransfer" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TRANSFER_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="SUBSCRIBE_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TRANSFER_TANDER_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="SUBSCRIBE_TANDER_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="TRANSFER_USER_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="SUBSCRIBE_USER_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="E_INVEST_NO" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AMOUNT" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="INTEREST_COMP" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="COLLECTION_ACCOUNT" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="MANAGE_FEE" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="STATUS" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ADDTIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    ID, TRANSFER_ID, SUBSCRIBE_ID,TRANSFER_TANDER_ID, SUBSCRIBE_TANDER_ID, TRANSFER_USER_ID, SUBSCRIBE_USER_ID,
    E_INVEST_NO, AMOUNT, INTEREST_COMP, COLLECTION_ACCOUNT, MANAGE_FEE, STATUS, ADDTIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from e_transfer
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from e_transfer
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dxjr.portal.transfer.entity.Etransfer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into e_transfer (ID, TRANSFER_ID, SUBSCRIBE_ID,TRANSFER_TANDER_ID,
      SUBSCRIBE_TANDER_ID, TRANSFER_USER_ID, SUBSCRIBE_USER_ID, 
      E_INVEST_NO, AMOUNT, INTEREST_COMP, 
      COLLECTION_ACCOUNT, MANAGE_FEE, STATUS, 
      ADDTIME)
    values (#{id,jdbcType=INTEGER}, #{transferId,jdbcType=INTEGER}, #{subscribeId,jdbcType=INTEGER},#{transferTanderId,jdbcType=INTEGER},
      #{subscribeTanderId,jdbcType=INTEGER}, #{transferUserId,jdbcType=INTEGER}, #{subscribeUserId,jdbcType=INTEGER}, 
      #{eInvestNo,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{interestComp,jdbcType=DECIMAL}, 
      #{collectionAccount,jdbcType=DECIMAL}, #{manageFee,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dxjr.portal.transfer.entity.Etransfer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into e_transfer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="transferId != null" >
        TRANSFER_ID,
      </if>
      <if test="transferTanderId != null" >
        TRANSFER_TANDER_ID,
      </if>
      <if test="subscribeTanderId != null" >
        SUBSCRIBE_TANDER_ID,
      </if>
      <if test="transferUserId != null" >
        TRANSFER_USER_ID,
      </if>
      <if test="subscribeUserId != null" >
        SUBSCRIBE_USER_ID,
      </if>
      <if test="eInvestNo != null" >
        E_INVEST_NO,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="interestComp != null" >
        INTEREST_COMP,
      </if>
      <if test="collectionAccount != null" >
        COLLECTION_ACCOUNT,
      </if>
      <if test="manageFee != null" >
        MANAGE_FEE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="addtime != null" >
        ADDTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transferId != null" >
        #{transferId,jdbcType=INTEGER},
      </if>
      <if test="transferTanderId != null" >
        #{transferTanderId,jdbcType=INTEGER},
      </if>
      <if test="subscribeTanderId != null" >
        #{subscribeTanderId,jdbcType=INTEGER},
      </if>
      <if test="transferUserId != null" >
        #{transferUserId,jdbcType=INTEGER},
      </if>
      <if test="subscribeUserId != null" >
        #{subscribeUserId,jdbcType=INTEGER},
      </if>
      <if test="eInvestNo != null" >
        #{eInvestNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="interestComp != null" >
        #{interestComp,jdbcType=DECIMAL},
      </if>
      <if test="collectionAccount != null" >
        #{collectionAccount,jdbcType=DECIMAL},
      </if>
      <if test="manageFee != null" >
        #{manageFee,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxjr.portal.transfer.entity.Etransfer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update e_transfer
    <set >
      <if test="transferId != null" >
        TRANSFER_ID = #{transferId,jdbcType=INTEGER},
      </if>
      <if test="transferTanderId != null" >
        TRANSFER_TANDER_ID = #{transferTanderId,jdbcType=INTEGER},
      </if>
      <if test="subscribeTanderId != null" >
        SUBSCRIBE_TANDER_ID = #{subscribeTanderId,jdbcType=INTEGER},
      </if>
      <if test="transferUserId != null" >
        TRANSFER_USER_ID = #{transferUserId,jdbcType=INTEGER},
      </if>
      <if test="subscribeUserId != null" >
        SUBSCRIBE_USER_ID = #{subscribeUserId,jdbcType=INTEGER},
      </if>
      <if test="eInvestNo != null" >
        E_INVEST_NO = #{eInvestNo,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="interestComp != null" >
        INTEREST_COMP = #{interestComp,jdbcType=DECIMAL},
      </if>
      <if test="collectionAccount != null" >
        COLLECTION_ACCOUNT = #{collectionAccount,jdbcType=DECIMAL},
      </if>
      <if test="manageFee != null" >
        MANAGE_FEE = #{manageFee,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        ADDTIME = #{addtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxjr.portal.transfer.entity.Etransfer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update e_transfer
    set TRANSFER_ID = #{transferId,jdbcType=INTEGER},
      TRANSFER_TANDER_ID = #{transferTanderId,jdbcType=INTEGER},
      SUBSCRIBE_TANDER_ID = #{subscribeTanderId,jdbcType=INTEGER},
      TRANSFER_USER_ID = #{transferUserId,jdbcType=INTEGER},
      SUBSCRIBE_USER_ID = #{subscribeUserId,jdbcType=INTEGER},
      E_INVEST_NO = #{eInvestNo,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      INTEREST_COMP = #{interestComp,jdbcType=DECIMAL},
      COLLECTION_ACCOUNT = #{collectionAccount,jdbcType=DECIMAL},
      MANAGE_FEE = #{manageFee,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=INTEGER},
      ADDTIME = #{addtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByTransferId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from e_transfer
    where TRANSFER_ID = #{transferId,jdbcType=INTEGER}
  </select>

</mapper>