<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dxjr.portal.tzjinterface.mapper.TenderRecordAggVoMapper">
	
	<!-- 返回的结果集 --> 
	<resultMap id="TenderRecordAggVo"  	           type="com.dxjr.portal.tzjinterface.vo.TenderRecordAggVo">
	         <result property="bid"			    column="bid"/>
			 
			 <association property="subject" javaType="com.dxjr.portal.tzjinterface.vo.BorrowVo">
			 <result property="title" 			column="title"/>
			 <result property="rate"		    column="rate"/>
			 <result property="period"			column="period"/>
			 <result property="periodunit"		column="periodunit"/>
			 <result property="name"			column="name"/>
			 <result property="time"			column="time"/>
			 <result property="fulltime"		column="fulltime"/>
			 <result property="amount"			column="amount"/>
			 <result property="desc"			column="desc"/>
			 <result property="detail"			column="detail"/>
			 <result property="returntype"		column="returntype"/>
			 <result property="returnassue"		column="returnassue"/>
			 <result property="bid"			    column="bid"/>
			 <result property="bidtype"         column="bidtype"/>
			 <result property="status"			column="status"/> 
			 </association>
			 <collection property="bidinfo" ofType="com.dxjr.portal.tzjinterface.vo.TenderRecordVo">
				 <result property="username" 		column="username"/>
				 <result property="usernamep"		column="usernamep"/>
				 <result property="oid"			    column="oid"/>
				 <result property="bidamount"		column="bidamount"/>
				 <result property="amount"			column="amount2"/>
				 <result property="type"			column="type"/>
				 <result property="time"			column="time1"/>
				 <result property="tId" 			column="TID"/>
				 <result property="income"          column="income"/>
			 </collection>
			 
	</resultMap>
	

<select id="queryTenderRecordAggList"  resultMap="TenderRecordAggVo" >
		                  SELECT  distinct 
                                  rb.NAME AS title,
                                  rb.APR AS rate,
                                  rb.TIME_LIMIT AS period,
                                  rb.BORROWTYPE AS bidtype,
                                  CASE
                                      WHEN rb.BORROWTYPE = 4 THEN '秒还'
                                      WHEN rb.BORROWTYPE <![CDATA[<>]]> 4 AND rb.STYLE <![CDATA[<>]]> 4 THEN '月'
                                      WHEN rb.BORROWTYPE <![CDATA[<>]]> 4 AND rb.STYLE = 4 THEN '天' ELSE ' '
                                    END AS periodunit ,
                                  (SELECT rm.USERNAME FROM rocky_member rm WHERE rm.ID = rb.USER_ID) AS NAME,
                                  CONCAT((rbt.ADDTIME) ,'000') AS time,
                                  CONCAT(rb.SUCCESS_TIME,'000') AS fulltime,
                                  rb.ACCOUNT AS amount,
                                  rb.`USE` AS `desc`,
                                  rb.CONTENT AS detail,
                                  CASE
                                                                      WHEN rb.STYLE = 0 THEN '没有限制'
                                                                      WHEN rb.STYLE = 1 THEN '等额本息'
                                                                      WHEN rb.STYLE = 2 THEN '按月付息到期还本'
                                                                      WHEN rb.STYLE = 3 THEN '到期还本付息' ELSE '按天还款'
                                                                    END AS returntype,
                                  '本金保障' AS returnassue,
                                  rb.ID AS bid ,
                                  rb.STATUS AS status,
                                  rbt.BORROW_ID ,
                                  rbt.ID AS TID,
                                  tmb.user_name AS username,
                                  tmb.user_namep AS usernamep,
                                  CONCAT(${OId},rb.id) AS oid,
                                  rbt.ACCOUNT AS bidamount,
                                  rbt.ACCOUNT AS amount2,
                                  rbt.TENDER_TYPE AS type,
                                  CONCAT(rbt.ADDTIME ,'000') AS time1,
                                  (SELECT IFNULL(sum(rbc.INTEREST),0) FROM rocky_b_collectionrecord rbc WHERE rbc.USER_ID  = rm.ID  AND rbc.BORROW_ID = rb.ID AND rbc.TENDER_ID =rbt.ID) AS income 
                                  <!-- (rbt.ACCOUNT*rb.APR/100*(rb.TIME_LIMIT/12)) AS income  --> 
                                 
                               
                                
                                  FROM rocky_borrow rb INNER JOIN rocky_b_tenderrecord rbt 
                                  ON rb.ID = rbt.BORROW_ID 
                                  INNER JOIN tzj_member_binding tmb 
                                  ON tmb.user_id = rbt.USER_ID 
                                   INNER JOIN rocky_member rm 
                                  ON rm.ID =tmb.user_id AND rm.TYPE = 0  
                                   LEFT JOIN tzj_tenderrecord_transfer_log tttl 
                                  ON  tttl.FK_BORROW_ID = rb.ID  AND tttl.FK_tenderrecord_ID = rbt.ID 
                                  WHERE tmb.dr = '1' AND tmb.IS_SUCCESS = 1 
                                  and rb.STATUS in (4,5,42,2,-1,-2,-3) 
                                   AND (tttl.ID IS NULL or (tttl.ID IS not NULL and tttl.IS_SUCCESS = 0) 
                                    OR (tttl.ID IS not NULL and tttl.IS_SUCCESS = 1 AND tttl.STATUS = 2)) order by rbt.BORROW_ID desc
                                   <!-- AND rbt.ADDTIME <![CDATA[>=]]> UNIX_TIMESTAMP(curdate()) 
                                   AND rbt.ADDTIME <![CDATA[<]]> UNIX_TIMESTAMP(ADDDATE(curdate(),1)) -->
                                  
  	</select>
</mapper>  