body { background-color: #f7f7f7;color: #475058;font: 13px/1.5 Microsoft YaHei,Helvetica,Tahoma;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0;}
em{ font-style: normal;}
.clearfix:after, .header:after, .footer:after, .main:after, .wrapper:after, .wrap:after, .content:before, .content:after, .fn-clear:after  {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
h5, .h5 {
    font-size: 16px;
}
h1{font-size: 20px !important;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;}
img{ border:0;vertical-align: middle;}
ul, ol {list-style: outside;}
table {border-collapse: collapse;border-spacing: 0;}
.fl{ float:left;}
.fr{ float:right;}
.mt10{ margin-top:10px;}
.mb10{ margin-bottom:10px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.mt20{ margin-top:20px;}
.mb20{ margin-bottom:20px;}
.ml20{ margin-left:20px;}
.mr20{ margin-right:20px;}
.mt30{ margin-top:30px;}
.mb30{ margin-bottom:30px;}
.ml30{ margin-left:30px;}
.mr30{ margin-right:30px;}
.pt10{ padding-top:10px;}
.pb10{ padding-bottom:10px;}
.pl10{ padding-left:10px;}
.pr10{ padding-right:10px;}
.pt20{ padding-top:20px;}
.pb20{ padding-bottom:20px;}
.pl20{ padding-left:20px;}
.pr20{ padding-right:20px;}
.pl30{ padding-left:30px;}
.pr30{ padding-right:30px;}
.pt30{ padding-top:30px;}
.pb30{ padding-bottom:30px;}
.pd10{ padding:10px;}
.pd20{ padding:20px;}
.pd40{ padding:40px;}
.pdt{ padding-top:0;}
.cl66{ color:#666666;}
.cl00{ color:00cc65;}
.f20{ font-size:20px;}
.w97{ width:97%;}
.ds{ display:inline;}
.green_1{color:#01cb65;}
.black_1{color: #475058 !important;}
.orange_1{color:#f5af3f;}
.f36{font-size:36px;}
.f24{font-size:24px;}
.f16{font-size:16px;}
.bdr{border-right:1px dashed #cccccc;}
.bdm1{border-bottom:1px dashed #cccccc;}
.bdl{border-left:1px dashed #cccccc;}
.bdm{ border-bottom:4px solid #ffcc67;}
.bott{ position:relative;}
.ow{overflow:hidden;}
.mg{ margin:0 auto;}
.tc{ text-align:center;}
/*全局*/
.content,.main,.wrapper,.wrap{ width:1100px; margin:0 auto; }
.wrap{ position:relative; height:60px; }
.content{position:relative;}
.all-page{ padding-top:104px;}
/*head*/
.header{ width:100%; height:58px; background:#2da7e0; padding:10px 0 10px 0; }
.h-title{ width:auto; height:25px;text-align:center; color:#ffffff; margin:15px auto; font-size:18px;}
/*content*/
.c-title{ width:214px; height:40px; background:url(../../images/accountbill/img_13.jpg); margin:20px auto 0 auto;}
.pic{ width:132px; height:133px; background:url(../../images/accountbill/img_11.jpg); position:absolute; right:0; top:10px;}
.user-info{ color:#4c4c4c; font-size:14px; line-height:30px;position:relative; }
.user-info em{font-size:18px; color:#D30003;}
.hr{ width:100%; height:3px; background:#ffcc67;}
.pic1{ width:134px; height:194px; background:url(../../images/accountbill/img_22.jpg);}
.interest-title{ width:100%; height:27px; }
.img1{background:url(../../images/accountbill/img_18.jpg) no-repeat;}
.img2{background:url(../../images/accountbill/img_29.jpg) no-repeat;}
.img3{background:url(../../images/accountbill/img_35.jpg) no-repeat;}
.img4{background:url(../../images/accountbill/img_42.jpg) no-repeat;}
.record{ float:left; overflow:hidden;display:inline; line-height:2.5em; font-size:16px;}
.chart{ width:589px; height:231px; background: no-repeat;}
 .ui-bill-info dl{overflow:hidden;}
 .ui-bill-total{ width:220px; position:relative; font-size:18px; margin:0 auto}
 .m-bill{ width:100%; height:236px;  position:relative; }
 .num{position: absolute; z-index:1; left:300px;top:20px;padding: 10px 0 20px; }
 .w320{ width:220px;}
 .num-1{left:170px;}
 .tex-r{ text-align:right;}
.symbol{font-family: arial;font-size: 32px; height:40px;margin:0 30px; }
.ui-bill-month{
    position: absolute;
    right:10px;
    top:20px;
    width: 280px;
    z-index: 1;
}
ui-list-month {
    line-height: 36px;
}

.ui-list-month p {
    cursor: pointer;
    position: relative;
    width: 280px;
}
.color-white-text {
    color: #fff;
}
.ui-list-month .arrow-down {
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 1;
}
.arrow-down {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #555;
    height: 0;
    width: 0;
}
.arrow-down-white {
    border-top-color: #475058;
}
.ui-list-month ul {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 5px #999;
    margin-left: -10px
	}

.ui-list-month ul li a {
    color: #4c4c4c;
    display: inline-block;
    padding:5px 25px;
	font-size:14px;
}