.blue{color:#35aaf2}
.gray{color:#e6e6e6;}
.gray3{color:#333;}
.gray9{color:#999;}
.orange{color:#ff8e3b}
.green{color:#90cc41}
.orange2{color:#f05e13}
.white{color:#fff}

.mt5{ margin-top:5px}
.mt10{ margin-top:10px}
.mt20{ margin-top:20px}
.mt30{ margin-top:30px}
.mr10{ margin-right:10px;}
.mr20{ margin-right:20px;}
.ml40{ margin-left:40px;}
.mr0{ margin-right:0px !important;}

.f60{ font-size:60px;}

a{color:#35aaf2; text-decoration:none;}
a:hover{color:#ff8e3b}
.btn:hover{color:#fff;}

.btn-orange{display: inline-block;text-align:center;background: #f05e13;color: #fff;border-radius: 2px;font-size: 14px;}
.btn-orange:hover{background:#ed570a;}
.btn-primary:hover{background:#25a1ee}
.btn-code{display: inline-block;text-align:center;background: #35aaf2;color: #fff;border-radius: 2px;font-size: 14px; padding:6px 7px;}
.btn-codey{display: inline-block;text-align:center;background: #A7A7A7;color: #fff;border-radius: 2px;font-size: 14px; padding:6px 7px;}
.btn-codey:hover{color:#fff;}
.btn-code:hover{background: #2790d0; color:#fff;}

.relative{ position:relative}
.f100{font-size:100px !important; }
.col3 li{width:33.3333%}
.table a{color:#35aaf2}
.table a:hover{color:#ff8e3b}
.table em{width:20px;background:#ff8e3b; position:absolute;left:-5px;line-height:15px; color:#fff; text-align:center;top:6px; font-size:12px; padding:3px 0;}
.table td{ position:relative}

#myaccount{ padding-top:11px;+padding-top:95px;font-size:14px;}
.wraper{width:1100px; margin:auto; }
#myaccount .topmenu{background:#fff; padding:10px; overflow:hidden}
#myaccount .topmenu ul{width:1100px; margin:auto;}
#myaccount .topmenu li{width:25%;float:left; text-align:center; font-size:16px;}
#myaccount .topmenu li a{color:#333;}
#myaccount .topmenu li a:hover,#myaccount .topmenu li.active a{ text-decoration:none;color:#35aaf2;}
#myaccount input[type=text]{ padding:5px; border:1px solid #ddd; margin-top:5px; width:100px;}

/*账户总览*/
#account-all{ width:1100px;margin:20px auto 0 auto; }
#account-all .userbar{ padding:20px 30px; background:#fff; height:140px;}
.ul-userbar1, .ul-userbar2, .ul-userbar4{
	float: left;
}
.ul-userbar1 {
	padding-top: 20px;
}
.ul-userbar2 {
	padding: 20px 40px 0 40px;
}
.ul-userbar3 {
	padding: 0px 0px 0 20px;
	height:110px;
	float:right;
	border-left:1px dashed #ddd;
	font-size:16px;
}
.ul-userbar3 p{
	padding: 5px 0;
}

.ul-userbar3 a{
	color:#45b8ef;
}

.ul-userbar3 a:hover{
	color:#f60;
}
.ul-userbar3 .menu-tbl ul{width:220px;}
.ul-userbar3 .menu-tbl ul li{width:110px;float:left; text-align:center; cursor:pointer; line-height:30px; height:30px; font-size:16px; color:#333; border:0px solid #ccc; border-width:0px 0px 1px 0px;}
.ul-userbar3 .menu-tbl ul li.active{width:108px; background:#FFF; color:#35aaf2; border:0px solid #ccc;border-width:1px 1px 0px 1px}
.ul-userbar3 .menucont .tbl-cont{ padding-top:10px;margin:0 ;}

.ul-userbar4 {
	padding: 20px 0px 0 120px;
	height:110px;
}

.ul-userbar4 span{
	width:120px;
	text-align:center;
	float:left;
}

.userpic {
	border-radius:50%;
	-webkit-border-radius:50%;  
    -moz-border-radius:50%;
	display: block;
	width: 75px;
	height: 75px;
	margin-top:15px;
	overflow: hidden;
	-webkit-box-shadow:0 0 10px #DBDBDB;  
    -moz-box-shadow:0 0 10px #DBDBDB;  
    box-shadow:0 0 10px #DBDBDB;  
}
.userinfo{ position:relative;}
.userinfo a{
	color:#45b8ef;
	text-decoration:none;
	}
.userinfo p{padding-bottom:10px; line-height:1.6rm;vertical-align:top !important;}
.userinfo p a{vertical-align:top !important;}
.userinfo p i{ margin-left:5px;}

.uservip1,.uservip2,.uservip3,.uservip4,.uservip5,.uservip6,.uservip7{color:#35aaf2;}
.uservip1:before {content: "\e60a";}
.uservip2:before {content: "\e60b";}
.uservip3:before {content: "\e60c";}
.uservip4:before {content: "\e60d";}
.uservip5:before {content: "\e60e";}
.uservip6:before {content: "\e60f";}
.uservip7:before {content: "\e60f2";}


#account-all .moneybar{background:#fff; overflow:hidden; margin-top:20px;}
.moneybar .mtit{height:80px; background:#f0f7ff;}
.moneybar li{float:left; text-align:center;}
.moneybar li.first{height:77px; border-top:3px solid #38abf2; background:#fff; padding:0 30px;}
.moneybar li.two{height:80px;padding:0 40px 0 60px; color:#333}
.moneybar li.three{padding-top:22px;}
.moneybar li.three a{ margin-left:20px;}
.moneybar li p{ margin-top:7px;}
.moneybar .centermain{ padding:20px 30px; overflow:hidden;}
.moneybar .centermain .pie{width:200px;height:200px; margin:0px 40px;}
.moneybar .centermain .mainright{font-size:14px;width:700px; margin-top:40px; margin-left:60px}
.moneybar .centermain li,.moneybar .centermain .mainright span{float:left}
.moneybar .centermain li{width:50%; padding:15px 0;}
.mainright span.w1{width:70px;}
.mainright span.w2{width:60px;}
.mainright span.w3{width:200px;}
.moneybar .bottombar{height:68px;border-top:1px solid #e6e6e6}
.moneybar .bottombar li{float:left; width:50%; padding-top:10px;}
.moneybar .bottombar li.one{border-right:1px solid #e6e6e6; box-sizing:border-box; height:68px;}
.moneybar .bottombar li span{display:inline-block;}
.moneybar .bottombar li span.tupiao{display:inline-block; padding-left:80px;}
.moneybar .bottombar li h4{ display: inline-block; color:#999999; text-align:left;padding-left:10px;font-size:14px;}
.moneybar .bottombar li h4 span{ display:block; font-size:14px; color:#333333; text-align:left; padding-bottom:3px; }

/*资金明细*/
ul.topcol3{width:100%; }
ul.topcol3 li{width:33.3333%; text-align:center; float:left;padding:20px 0; line-height:1.8;}
ul.topcol4{width:100%; }
ul.topcol4 li{width:25%; text-align:center; float:left;padding:20px 0; line-height:1.8;}
.type{float:left;width:110px; text-align:left;}

.term{float:left; text-align:left; margin-right:20px;}
.term a,.type a{ font-size:14px; padding:3px 12px; color:#666666; line-height:40px;}
.term a:hover,.term a.active,.type a:hover,.type a.active{ text-decoration:none; background:#45b8ef; border-radius:2px; color:#fff;}

/*充值 提现*/
.recharge{ background:#fff;}
.recharge .tbl-cont{ padding:20px 0 50px 0; overflow:hidden}
.recharge h1{ background:#f0f7ff; height:40px;line-height:40px; padding-left:20px; font-size:16px;}
.recharge .content{ padding:40px; overflow:hidden; }
.recharge .content li{float:left; text-align:center; margin-right:15px; padding:0; margin-top:10px;}
.recharge .content li.last{ margin-right:0px;}
.recharge .content li a{width:190px;height:50px;line-height:40px; border:1px solid #ccc; border-radius:3px;display:block;}
.recharge .content li a.current{background:url(../images/right-icon.png) no-repeat 100% 0%;border:1px solid #359cf7;width:190px;height:50px;border-radius:3px;float:left;}
.recharge .content li input{display:none;}

.recharge .tbl-cont p{ margin:20px 0 0 40px;}
.recharge .tbl-cont p span.yuan{ position:absolute;right:5px;top:0px; }
.recharge .tbl-cont span.w100{width:100px; display:inline-block; text-align:right;}

.recharge-table{width:1020px; margin:auto;border-collapse: collapse!important; border:1px solid #ddd;}
.recharge-table td{ text-align:center}
.recharge-table thead td{height:40px;line-height:40px; background:#f0f7ff; font-size:14px; color:#8eb7d0; padding:0 15px;}
.recharge-table tbody td{height:50px;line-height:50px; padding:0 15px;font-size:14px; color:#333333; border:1px solid #ddd;}
.recharge-tip{ padding:40px; border-top:1px dashed #ccc; margin:20px; line-height:1.8}
.recharge-tip ul{width:100%;}
.recharge-tip li{float:left;}


.recharge-suc{width:1100px; margin:20px auto 0 auto; background:#fff; padding:80px 0; text-align:center;}
.recharge-suc p{ margin-top:20px;}
.recharge-suc a{color:#35aaf2}
.recharge-suc a:hover{color:#ff8e3b}

.cash{width:550px; margin:auto; padding-bottom:50px; }
.cash p{ padding-bottom:15px;}
.cash .cash-tit{width:120px; display:inline-block; text-align:right; margin-right:30px;}
.cash .bankpic{width:160px;height:47px;line-height:40px; border:1px solid #ccc; border-radius:3px;display:inline-block; text-align:center}

/*我的奖励*/
.reward{ background:#fff;}
.reward h1{ background:#f0f7ff; height:40px;line-height:40px; padding:0 60px; font-size:16px;}
.reward .tbl-cont{ padding:20px 0 50px 0; overflow:hidden}
.reward ul.redbao{ padding:0 60px 20px 60px; overflow:hidden;}
.reward ul.redbao li{float:left;width:191px;height:239px;  margin-top:20px; margin-right:70px; padding-top:5px}
.reward ul.redbao li p{ padding:0 10px;}
.reward ul.redbao li p a{font-size:12px;color:red;}
.reward .okbao li{background:url(../images/redbaobg.png) no-repeat;}
.reward .nobao { display:none;}
.reward .nobao li{background:url(../images/redbaobg2.png) no-repeat;}

.reward a.arrowdown{transform:rotate(180deg);
        -ms-transform:rotate(180deg); /* Internet Explorer 9*/
        -moz-transform:rotate(180deg); /* Firefox */
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        -o-transform:rotate(180deg); /* Opera */
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1); 
		
	}

/*分享*/
ul.share{width:100%; padding:30px 0; overflow:hidden}
ul.share i{ font-size:36px;color:#aaa;}
ul.share a:hover,ul.share a:hover i{color:#35aaf2;}
ul.share a{color:#aaa;}
ul.share p{padding-top:10px;}

ul.share li{width:16.66667%;float:left; text-align:center;}


/*提示样式*/
.bankcard-tip{
	position: absolute;
	top: 105px;
	left: 60px;
	z-index:1000;
	text-align:left;
	border:1px solid #abdcfa;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 8px;
	width:420px;
	color:#999;
	background-color:#fff;
	box-shadow:0 0 5px 0 #abdcfa;
	-moz-box-shadow:0 0 5px 0 #abdcfa;
	-webkit-box-shadow:0 0 5px 0 #abdcfa;
}
.bankcard-tip em {
		position:absolute;
		top:-6px;
		left:35px;
	width:9px;
	height:6px;
	background:url(../images/tip/tip-yellowsimple_arrows.gif) no-repeat;
}
.bankcard-tip .close{ cursor:pointer;}
.bankcard-tip a{color:#333;}
.bankcard-tip a:hover{color:#f60;}

.tip-yellowsimple {
	z-index:99999;
	text-align:left;
	border:1px solid #abdcfa;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:6px 8px;
	min-width:50px;
	max-width:300px;
	color:#999;
	background-color:#fff;
	box-shadow:0 0 5px 0 #abdcfa;
	-moz-box-shadow:0 0 5px 0 #abdcfa;
	-webkit-box-shadow:0 0 5px 0 #abdcfa;
}
.tip-yellowsimple .tip-inner {
	font-size:14px;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-yellowsimple .tip-arrow-top {
	margin-top:-6px;
	margin-left:-5px; /* approx. half the width to center it */
	top:0;
	left:50%;
	width:9px;
	height:6px;
	background:url(../images/tip/tip-yellowsimple_arrows.gif) no-repeat;
}
.tip-yellowsimple .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:0;
	top:50%;
	left:100%;
	width:6px;
	height:9px;
	background:url(../images/tip/tip-yellowsimple_arrows.gif) no-repeat -9px 0;
}
.tip-yellowsimple .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it */
	top:100%;
	left:50%;
	width:9px;
	height:6px;
	background:url(../images/tip/tip-yellowsimple_arrows.gif) no-repeat -18px 0;
}
.tip-yellowsimple .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:6px;
	height:9px;
	background:url(../images/tip/tip-yellowsimple_arrows.gif) no-repeat -27px 0;
}

/*日历*/
body a{
cursor:pointer;text-decoration:none;
}
.aboluo-w{width:1100px; margin:20px auto;background:#fff;}
.aboluo-top{height:50px; background:#f0f7ff; color:#333; font-size:16px; line-height:50px; padding-left:30px; font-weight:bold;}
.aboluo-w-700{
	width:1000px;
	height:577px;
	margin:20px auto;
	padding-bottom:30px;
	
	
}
.aboluo-leftdiv{
	position:relative;
	float:left;
	width:698px;
	height:100%;
	border:0px solid #ddd;
	 border-width:1px 0 1px 1px;
}
.aboluo-rightdiv{
	text-align:center;
	width:296px;
	height:100%;
	background:#f9f5f1;
	border:0px solid #95d3f9;
	float:left;
}
.aboluo-tools{
	position:relative;
	line-height:10px;
	height:7%;
	padding:10px;
	background:#f9f5f1;
	border-right:1px solid #ddd;
	
}
.aboluo-rilidiv{
	position:relative;
	width:100%;
	height:526px;

}

.aboluo-calendar-select-year{
	width:30%;float:left;}
.aboluo-calendar-select-year select {
		font-size:14px;
	color:#666;background:#f9f9f9;border:1px solid #c9cccf;
	padding:6px 5px;
	width:100%;}
.aboluo-calendar-month{
	text-align:center;
	width:40%;float:left;margin-left:20px;line-height: 10px;}
.aboluo-calendar-month a{
	font-size:18px;text-align:center;color:#666;text-decoration:none;}
	
.aboluo-calendar-month .aboluo-month-a-perv{width:20px; height:34px; background: url(../images/li03.png) #F4F4F4 center no-repeat; display: inline-block;border:0 solid #c9cccf; border-width:1px 0 1px 1px;margin-right:-4px;}	
.aboluo-calendar-month .aboluo-month-a-next{width:20px; height:34px; background: url(../images/li02.png) #F4F4F4 center no-repeat; display: inline-block; border:0 solid #c9cccf; border-width:1px 1px 1px 0;margin-left:0px;}	
	
.aboluo-calendar-month select{
	font-size:14px;
	color:#666;background:#f9f9f9;border:1px solid #c9cccf;
	padding:6px 5px;
	height:36px;
	width:60%;}
.aboluo-tools .aboluo-toToday{
	width:20%;margin-left:15px;margin-top:4px;color:#fff;background:#0899f2;border:none;
	padding:6px 0;
	font-size:14px;}
.aboluo-tools .aboluo-toToday:hover{
	background:#0d89d5;
}
.aboluo-rilitable{
	width:100%;text-align:center;padding-top:5px;}
	.aboluo-rilidiv table{border-collapse:collapse;}
	.aboluo-rilidiv th{ height:65px;border-right:1px solid #e3e4e6;border-top:1px solid #e3e4e6;}
	/*.aboluo-rilidiv th:last-child{ height:65px;border-right:0px solid #e3e4e6;border-top:1px solid #e3e4e6;}*/
.aboluo-rilitable .aboluo-rilithead{
	background:#fefbeb;
	border-bottom: 1px solid #e3e4e6;}
.aboluo-rilidiv .aboluo-rilitable tr{
	width:100%;}
.aboluo-rilidiv .aboluo-rilitable tr th{
	width:100px;font-size:16px; text-align:center}
.aboluo-rilidiv .aboluo-rilitable tr td{
	width:100px;font-size:20px;color:#000000; border-right:1px solid #e3e4e6; padding:0;}
/*.aboluo-rilidiv .aboluo-rilitable tr td:last-child{
	width:100px;font-size:20px;color:#000000; border-right:0px solid #e3e4e6; padding:0}*/
	
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-currToday{
background: url(../images/currtoday.gif) #D3EFFF center no-repeat; }
.aboluo-rilidiv .aboluo-rilitable tr .aboluo-currToday:hover{
background: url(../images/currtoday.gif) #fefbeb center no-repeat;}



.aboluo-rilidiv .aboluo-rilitable tr .aboluo-tdcurrToday{
color:#FFFFFF;}
.aboluo-rilidiv .aboluo-rilitable tr td a{
	font-size:24px;color:#000000;display:block;margin:auto;position:relative;width:106px; padding:3px 0}
.aboluo-rilidiv .aboluo-rilitable .aboluo-td-a-ban{
	font-size:13px;position:absolute;text-align:left;line-height:14px;text-indent:1px;width:15px;display:block;background:#969799;height:15px;color:#fff;overflow:hidden;top:0px;left:0px;}
.aboluo-rilidiv .aboluo-rilitable .aboluo-td-a-xiu{
	font-size:13px;position:absolute;text-align:left;line-height:14px;text-indent:1px;width:15px;display:block;background:#f43;height:15px;color:#fff;overflow:hidden;top:0px;left:0px;}
.aboluo-rilidiv .aboluo-rilitable .daishou{
	position:absolute;background: url(../images/money.png) no-repeat;height:32px;width:32px;bottom:5px;right:5px;}
.aboluo-rilidiv .aboluo-rilitable .daishou-past{
	position:absolute;background: url(../images/money2.png) no-repeat;height:32px;width:32px;bottom:5px;right:5px; }

.aboluo-rilidiv .aboluo-rilitable tr td a:hover{
	background:#fefbeb;color:#000000;
      cursor:pointer;}
.aboluo-rilidiv .aboluo-rilitable tr td .aboluo-aclick{
	background:#fefbeb;
	}

	
.aboluo-rilidiv .aboluo-rilitable .aboluo-rilitbody .aboluo-pervMonthDays{
	color:#BFBFC5; 
}
.aboluo-rilidiv .aboluo-rilitable .aboluo-rilitbody .aboluo-nextMonthDays{
	color:#BFBFC5;
}

.aboluo-rightdiv {
	background:#EDEDED; border:0 solid #e3e4e6; border-width:1px 1px 1px 0;
}
.aboluo-rightdiv p{ 
}
.aboluo-rightdiv .aboluo-xssj { 
	padding-top:20px; font-size:16px; background:#EEFBFF;
}
.aboluo-rightdiv .aboluo-xssj span{ 
	margin-left:5px;
}
.aboluo-rightdiv .aboluo-ssjjr{ 
	display:none;
}



.aboluo-rightdiv .aboluo-currday{
	width:100%;height:150px;line-height:130px;margin:auto;text-align:center;color:#f05e13;font-size:65px;background:#EEFBFF; border-bottom:1px solid #ccc;
}


.aboluo-at{ font-size:28px; margin-top:60px;}
.aboluo-btn01{ border-bottom:1px solid #b0e1ff; padding-bottom:30px;background:#b0e1ff;}
.aboluo-btn01 a{border-radius:10px; background:#0899f2; padding:4px 10px; color:#fff;}
.aboluo-btn01 a:hover,.aboluo-btn02 a:hover{ background:#16a3fa;}
.aboluo-drds { color:#000; font-size:14px; padding-bottom:30px; padding-top:20px;}
.aboluo-drds dt{ float:left; text-align:right; width:30%;}
.aboluo-drds dd{ -webkit-margin-start:0px; }
.aboluo-drds dd span{ color:#f05e13;}
.aboluo-db{ font-size:14px; color:#000; padding:5px 0 10px 50px;; text-align:left;}
.aboluo-db span{ background:#35aaf2; padding:2px 4px; margin-right:5px; color:#fff;}
.aboluo-btn02{ margin-top:46px;}
.aboluo-btn02 a{border-radius:5px; background:#0899f2; padding:6px 28px; color:#fff;}


/*账户总览-股权交易*/
.equity{ width:500px; margin:20px auto 0 auto;}
.equity-text{ width:780px; height:42px; line-height:42px;margin-bottom: 20px; position:relative;}
.equity-text label{ width:125px; float:left; text-align:right; margin-right:15px;font-size:16px;}
.equity-text em{ float:left; width:39px; height:42px;border:1px solid #d2d2d2; background:#eee; text-align:center; }
.equity-text em i{font-size:28px;}
.equity-text input[type=text]{ float:left; border:1px solid #d2d2d2 !important; width:238px !important;height:42px !important;border-left:none !important; margin-top:0 !important; padding:0px 10px !important;font-size:16px; border-radius:0px 5px 5px 0px;}
.equity-text p{ position:absolute; bottom:5px; left:410px; border:1px solid #ffdbc7; background:#fff5ef; color:#ff0603; height:29px; padding:0 10px; line-height:29px;}
.equity-text p i{ width:7px; height:10px; background:url(../images/equity-jt.png) no-repeat; display:block; position:absolute; left:-7px; top:10px;}
.equity-text input[disabled]{ background:#f6f6f6; color:#ccc;}
.equity-btn{ margin-left:140px; margin-top:40px;}
.tz-equ{ padding:20px; height:40px; line-height:40px;}
.equity-text input.check{margin: 0px 5px 0px 0px}
.equity-check{ margin-left:140px;}
.equ-pa{ padding:60px;}
.equity-tlb{ text-align:left;}
.equity-tlb span{ padding:10px 0; display:block;}
.equity-tlb td,.equity-tlb th{ border:1px solid #ccc; text-align:center; padding:10px 0;}
.equity-tlb th{ background:#f0f7ff; color:#8eb7d0;}

/*投资管理导航条*/
.mt10{ margin-top:10px;}
.mt20{ margin-top:20px;}
.mll0{ margin-left:10px;}
.ml20{ margin-left:20px;}


.mac-box{ background:#fff;}

.mylist{background: #FFF;height: 44px;line-height: 44px; }
.mylist li{float:left;text-align:center;}
.mylist-bf16 li{ width:16.6%; }



/*投资管理-定期宝*/
.myacc-list{ background:#f0f7ff; height:50px; line-height:50px; font-size:16px; width:100%;}
.myacc-list li{ float:left; text-align:center;}
.myacc-list li span{ margin-left:22px;}
.baifen33 li{ width:33.3%;}
.myacc-into{ padding:20px 0;}
.myacc-dqb{ width:720px; font-size:14px; border-right: 1px dashed #ddd; padding:0 50px;}
.my-hq{ width:50%; float:left; padding:15px 0;}
.my-hq span{ margin-left:30px;}
.myacc-right{ font-size:16px; padding:15px 0 0 65px;}
.myacc-right p{ margin-bottom:20px; text-align:center;}
.myacc-right p a:hover{ text-decoration:none;}


/*投资管理-活期宝*/
.menucont .tal-none{ padding:0; margin:0;}
.fund-hqbList{ padding-top:50px; padding-bottom:80px; font-size:18px}
.fund-hqbList li{ float:left; width:50%; text-align:center;}
.fund-hqbList li span{ margin-left:20px;}
.btn-border{border:1px solid #35aaf2;color:#35aaf2;margin-left: 8px;}
.btn-border:hover{ background:#35aaf2;color:#fff;margin-left: 8px;}


/*投资管理-直通车*/
.ztc-list{ width:100%; font-size:14px;}
.ztc-list p{ float:left; margin-right:30px;}
.layer-jion .cont-ztc {max-width:952px;top: -20px;padding-bottom: 40px; margin: 200px auto;background: #FFF;z-index: 99999;}
.contZtc-text{ height:60px; line-height:60px;}
.contZtc-text p{ float:left; margin-left:30px; color:#8eb7d0; font-size:14px;}
.contZtc-text p span{ color:#5eb7f4;}


.form-info-layer .form-col2{ position:relative;}
.form-info-layer .form-col2 p{ text-align:left;}
.form-col2 .colleft02{width:100px;float: left;}
.fd-date{ position:absolute; right:20px; top:26px;}


/*投资管理-自动投资*/
.zdtz-title{ font-size:16px; height:70px; line-height:70px; padding-left:30px;}
.zdtz-btn{border:1px solid #35aaf2;border-radius:3px; padding:3px 5px; color:#35aaf2;}
.zdtz-btn:hover{ background:#35aaf2; color:#fff !important;}
.top-border{ border-top:20px solid #ecf0f1;}
.zdtz-none{ padding:60px 0; text-align:center; font-size:16px; }
.zdtz-text{ padding:30px 40px; color:#999; border-top:1px dashed #ccc; margin-left:40px;}
.zdtz-text dt{ float:left; margin-right:20px; font-size:16px;}
.zdtz-text dd{ float:left; font-size:14px; line-height:24px;}
.layer-jion .cont-w02{max-width:547px;} 
.form-col2 span .yuan{
	font-size:14px;	
    position: absolute;
    right: 5px;
    top: 0px;
}
.select-sl dt{ width:132px; background-position:-80px -367px; }
.select dd{ z-index:9999;}
.select-sl dd ul{ width:132px;}


.select-sl02 dt{ width:80px; background-position:-131px -367px; }
.select-sl02 dd ul{ width:80px;}
.form-col2 .select dd ul li a {
    line-height: 30px;
    color: #333;
    display: block;
    text-align: left;
}



/*投资管理-安全中心*/
.Safety-table{}
.Safety-table .bgblue{background:#F8FCFF}
.Safety-table td{ border-bottom:1px solid #e6e6e6; padding:20px 5px;}
.Safety-table td a{ color:#38abf2; margin-left:20px;}
.Safety-table td a:hover{ color:#2695da;}
.Safety-bg{ width:320px; margin:160px auto;}
.Safety-wtj{ text-align:center;}
.Safety-wtj a{width:300px; height:140px; border-radius:5px;display:block;background:#f3f3f3; text-align:center;padding-top:40px;}
.Safety-wtj a:hover{ background:#f5f5f5;}
.Safety-wtj i{ font-size:60px; color:#e5e5e5;}
.Safety-wtj p{ color:#666; font-size:16px; margin-top:20px;}
.Safety-ytj{width:300px; height:180px; background:#38abf2; border-radius:5px;text-align:center; color:#fff;}
.Safety-ytj p{ font-size:20px; padding-top:20px;}
.Safety-ytj p span{ font-size:16px; display:inline-block; background:#3093d0;border-radius:6px; padding:10px 15px;margin-bottom:20px;}
.Safety-ytj a{ color:#0d80c8; }
.Safety-ytj a:hover{ color:#1b95e0;}
.word-tran{ padding:0 30px; font-size:14px;text-align:left; }
.word-tran li{ margin-bottom:10px;}
.word-tran li span{ float:left; margin-right:20px; color:#38abf2; width:90px;}
.word-tran li span i{ font-style:normal; color:#666;}
.word-tran li p{ color:#999;}









